<!DOCTYPE html>
<html lang="en" ng-app="citiesApp">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Creative - Start Bootstrap Theme</title>


  <!-- Bootstrap core JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/vandertable.css">

  <!-- Map Plugin -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom fonts for this site -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this site -->
  <link href="css/creative.min.css" rel="stylesheet">
  <link href="css/poi.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" ng-controller="mainCtrl as mainCtr">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" ng-href="#main">Paris</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span style="margin-top: 2px; color:lightsteelblue;" ng-init="loggedUser='Hello guest'" ng-bind="loggedUser"></span>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" ng-href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" ng-href="#poi">POI</a>
          </li>
          <li class="nav-item" ng-show="logedIn()">
            <a class="nav-link js-scroll-trigger" ng-href="#favorite">Favorite</a>
          </li>
          <li class="nav-item" ng-show="!logedIn()">
            <a class="nav-link js-scroll-trigger" ng-href="#users">register</a>
          </li>
          <li class="nav-item" ng-show="logedIn()">
            <a class="nav-link js-scroll-trigger" ng-click="logOut()">logOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <div ng-view></div>



  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="js/vandertable.js"></script>
  <!--angular -->
  <script src="myCtrl.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/About/aboutController.js"></script>
  <script src="components/Favorite/FavoriteController.js"></script>
  <script src="components/POI/poiCtrl.js"></script>
  <script src="components/POI/fullpoiCtrl.js"></script>
  <script src="components/Users/usersCtrl.js"></script>
  <script src="components/Main/mainController.js"></script>
  <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
</body>

</html>