<section class="bg-primary" id="explore">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">About Paris!</h2>
        <hr class="light my-4">
        <!-- <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>-->
      </div>
    </div>
  </div>
</section>

<section class="transperant" style="background-image: url('img/about.jpg'); background-repeat: no-repeat; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">NATIONAL CAPITAL, FRANCE</h2>
        <hr class="my-4">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <div style="background-color: rgba(245, 245, 245, 0.479); border-radius: 8px;">
          <p style="font-size: 24px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 20px 60px;">
            Paris, city and capital of France, situated in the north-central part of the country. People were living on the site of the
            present-day city, located along the Seine River some 233 miles (375 km) upstream from the river’s mouth on the
            English Channel (La Manche), by about 7600 BCE. The modern city has spread from the island (the Île de la Cité)
            and far beyond both banks of the Seine. Paris occupies a central position in the rich agricultural region known
            as the Paris Basin, and it constitutes one of eight départements of the Île-de-France administrative region.
            It is by far the country’s most important centre of commerce and culture. Area city, 41 square miles (105 square
            km); metropolitan area, 890 square miles (2,300 square km). Pop. (2012) city, 2,265,886; (2015 est.) urban agglomeration,
            10,858,000.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="background-image: url('img/map.jpg'); background-repeat: no-repeat; background-size: cover;">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Landscape</h2>
            <hr class="my-4">
          </div>
        </div>
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <div style="background-color: rgba(245, 245, 245, 0.479); border-radius: 8px;">
          <p style="font-size: 24px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 20px 60px;">
            Paris is positioned at the centre of the Île-de-France region, which is crossed by the Seine, Oise, and Marne rivers. The
            city is ringed with great forests of beech and oak; they are called the “lungs of Paris,” for they help to purify
            the air in the heavily industrialized region. The city proper is small; no corner is farther than about 6 miles
            (10 km) from the square in front of Notre-Dame Cathedral. It occupies a depression hollowed out by the Seine,
            and the surrounding heights have been respected as the limits of the city. Elevation varies from 430 feet (130
            metres) at the butte of Montmartre, in the north, to 85 feet (26 metres) in the Grenelle area, in the southwest.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">So what are you waiting for?</h2>
            <hr class="my-4">
          </div>
        </div>
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <a href="https://www.skyscanner.co.il/" target="_blank"><button style="padding: 5px 10px; background-color: #61ecd8; box-shadow: 0 0 3px 0.1px; border: 0;">Book a fligth!</button></a>
      </div>
    </div>
  </div>

</section>