<section class="bg-primary" id="explore">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Manage your favorite points of interest!</h2>
        <hr class="light my-4">
        <!-- <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>-->
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Favorites</h2>
        <button class="btn-success" ng-click="getOrder()" data-toggle="modal" data-target="#orderSaved">Save For Later</button>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="row" ng-show="logedIn()">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <table class="table borderless VanderTable" id="favTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Short Description</th>
            <th>Rank</th>
            <th>Category</th>
            <th>Write Review</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="fav in FavoriteCtrl.content">
            <td>{{fav.id}}</td>
            <td>
              <a ng-href="#fullpoi/{{fav.id}}" target="_blank">{{fav.name}}</a>
            </td>
            <td>{{fav.shortDesc}}</td>
            <td>{{fav.rank==0 ? '0%':fav.rank==1 ? '20%': fav.rank==2 ? '40%':fav.rank==3 ? '60%': fav.rank==4 ? '80%': '100%'}}</td>
            <td>{{fav.cName}}</td>
            <td>
              <button data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;"
                data-target="#ReviewModal" ng-click="setReviewPOI(fav.id,fav.name)">review</button>
            </td>
            <td>
              <button data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;"
                data-target="#RemoveModal" ng-click="setReviewPOI(fav.id,fav.name)">remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>



<!-- Modal -->
<div class="modal fade" id="orderSaved" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <h3>{{FavoriteCtrl.success}}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal Review-->
<div class="modal fade" id="ReviewModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Give your Review</h4>
      </div>
      <div class="modal-body">

        <form class="form-review" name="rankForm" ng-submit="FavoriteCtrl.submitReview()" ng-show="!reviewDone">
          <p>What rank will you give {{FavoriteCtrl.reviewPOI}}?</p>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="FavoriteCtrl.litHeart(1)" ng-click="FavoriteCtrl.setRank(1)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!FavoriteCtrl.litHeart(1)" ng-click="FavoriteCtrl.setRank(1)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="FavoriteCtrl.litHeart(2)" ng-click="FavoriteCtrl.setRank(2)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!FavoriteCtrl.litHeart(2)" ng-click="FavoriteCtrl.setRank(2)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="FavoriteCtrl.litHeart(3)" ng-click="FavoriteCtrl.setRank(3)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!FavoriteCtrl.litHeart(3)" ng-click="FavoriteCtrl.setRank(3)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="FavoriteCtrl.litHeart(4)" ng-click="FavoriteCtrl.setRank(4)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!FavoriteCtrl.litHeart(4)" ng-click="FavoriteCtrl.setRank(4)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="FavoriteCtrl.litHeart(5)" ng-click="FavoriteCtrl.setRank(5)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!FavoriteCtrl.litHeart(5)" ng-click="FavoriteCtrl.setRank(5)"></i>
          <br />
          <p>Please write a review:
            <i style="font-size: 10px; color: gray;">optional</i>
          </p>
          <br />
          <textarea class="form-control" maxlength="250" rows="5" cols="8" name="wreview" placeholder="Text up to 250 letters" ng-model="FavoriteCtrl.writtenReview"></textarea>
          <br />
          <div class="col-lg-8 mx-auto text-center">
            <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="submit">
          </div>
        </form>
        <p ng-show="reviewDone">{{FavoriteCtrl.reviewStatus}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reviewDone = false; FavoriteCtrl.setRank(0)">Close</button>
      </div>



    </div>

  </div>
</div>

<!-- Modal Remove-->
<div class="modal fade" id="RemoveModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">

          <div class="col-lg-8 mx-auto text-center">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="removeLocalFav(FavoriteCtrl.reviewId)">Remove</button>
          </div>
      </div>



    </div>

  </div>
</div>


<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<!-- Latest compiled and minified JavaScript -->
<script>
  $(function () {
    $(".VanderTable").VanderTable({
      showRowOrder: true,
      allowTableSort: true,
      onMoveCol: function (obj, pos) {
        $(obj).css('background-color', '#BF360C !important');
        alert('Old Position: ' + pos.old + 'New Position: ' + pos.new);
      }
    });
  });
</script>