body {
    padding: 0;
    font-family: Arial, sans-serif;
    color: #024457;
    background: #f2f2f2;
}
h1 {
    font-family: Verdana;
    font-weight: normal;
    color: #024457;
}
h1 span {
    color: #167F92;
    font-size: x-large;
}

.regForm {
    background-color: #f5fdfc73;
    padding: 30px 200px;
    border-radius: 30px;
}

.regForm input{
    border-radius: 8px;
    line-height: 1rem;

}
