<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-2 mx-auto">
      </div>
      <div class="col-lg-8 mx-auto">
        <h1 class="text-uppercase">
          <strong>Your Favorite points of interest at Paris!
            <br> manage a perfect trip to Paris</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-2 mx-auto">
        <br>
        <br>
        <form class="form-signin" name="myForm" ng-submit="mainCtrl.submit()" ng-show="!logedIn()">
          <label for="userName" class="sr-only">User Name</label>
          <input class="form-control" type="text" name="uname" placeholder="user Name" ng-model="mainCtrl.user.userName" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input class="form-control" type="password" name="pwd" placeholder="Password" ng-model="mainCtrl.user.password" required>
          <div class="col-lg-8 mx-auto text-center">
            <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="submit" ng-disabled="myForm.$invalid">
          </div>
          <span class="text-danger" style="color:red">{{ error }}</span>
        </form>
        <a class="nav-link js-scroll-trigger" ng-show="!logedIn()" data-toggle="modal" href="" data-target="#passwordRecover">forgot your password?</a>
      </div>

    </div>
    <!--only show if not loged in-->
    <div class="col-lg-8 mx-auto" ng-show="!logedIn()">
      <!--only show if not loged in-->
      <p class="text-faded mb-5">we have notice that you are not logged in. if you are a member, please log in. if not, are you crazy?! please register
        fast to enjoy all the fun the website can give you!</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#/users">register</a>
    </div>
    <!--only show if  loged in-->
    <div class="col-lg-8 mx-auto" ng-show="logedIn()">
      <p class="text-faded mb-5">thank you for been a part of our community. please enjoy your time at our website</p>
    </div>
  </div>
</header>

<div id="registerUsersMain" ng-show="logedIn()">
  <section id="customize">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Let's Get started!</h2>
          <hr class="my-4">
          <p class="mb-5">Two points of interesrt in your favorite categories!</p>
        </div>
      </div>
    </div>
  </section>


  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
        <h3 ng-if="mainCtrl.categoriesPoints.length===0">There are no points in your favorite categories.</h3>
        <div class="col-lg-4 col-sm-6" ng-repeat="poi in mainCtrl.categoriesPoints">

          <div class="row">
            <div class="col-lg-8 ml-auto text-center">
              <h3 class="section-heading">{{poi.name}}</h3>
              <h6 class="section-heading">{{poi.rank==0 ? '0%':poi.rank==1 ? '20%': poi.rank==2 ? '40%':poi.rank==3 ? '60%': poi.rank==4 ? '80%': '100%' }}</h6>
              <button ng-show="logedIn()" data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;" data-target="#ReviewModal" ng-click="setReviewPOI(poi.id,poi.name)">review</button>
            </div>
            <div class="col-lg-4 ml-auto text-center">
              
            </div>
          </div>
          <a class="portfolio-box" ng-href="#fullpoi/{{poi.id}}" target="_blank">
            <img class="img-thumbnail" src="img/pic/{{poi.picture}}" alt="" style="width: 580px; height: 386px;">
            <div class="portfolio-box-caption" style="max-width: 580px; max-height: 386px;">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  {{poi.name}}
                </div>
                <div class="project-category text-faded">
                  {{poi.shortDesc}}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>

  <section class="bg-primary" id="explore">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Remember these?!!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">Watch the last two points of interest you saved!</p>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
          <h3 ng-if="mainCtrl.savedPoints.length===0">You havn't saved any points of interest yet.</h3>
        <div class="col-lg-4 col-sm-6" ng-repeat="poi in mainCtrl.savedPoints">

          <div class="row">
            <div class="col-lg-8 ml-auto text-center">
              <h3 class="section-heading">{{poi.name}}</h3>
              <h6 class="section-heading">{{poi.rank==0 ? '0%':poi.rank==1 ? '20%': poi.rank==2 ? '40%':poi.rank==3 ? '60%': poi.rank==4 ? '80%': '100%' }}</h6>
              <button ng-show="logedIn()" data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;"
                data-target="#ReviewModal" ng-click="setReviewPOI(poi.id,poi.name)">review</button>
            </div>
            <div class="col-lg-4 ml-auto text-center">
              
            </div>
          </div>
          <a class="portfolio-box" ng-href="#fullpoi/{{poi.id}}" target="_blank">
            <img class="img-thumbnail" src="img/pic/{{poi.picture}}" alt="" style="width: 580px; height: 386px;">
            <div class="portfolio-box-caption" style="max-width: 580px; max-height: 386px;">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  {{poi.name}}
                </div>
                <div class="project-category text-faded">
                  {{poi.shortDesc}}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
</div>

<div id="notRegisterUserdMain" ng-show="!logedIn()">
  <section class="bg-primary" id="explore">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">We've got what you need!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">Look at these awesome, popular and random points of interest</p>
          <!--<a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>-->
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
          <h3 ng-if="mainCtrl.content.length===0">No points to show</h3>
        <div class="col-lg-4 col-sm-6" ng-repeat="poi in mainCtrl.content">

          <div class="row">
            <div class="col-lg-8 ml-auto text-center">
              <h3 class="section-heading">{{poi.name}}</h3>
              <h6 class="section-heading">{{poi.rank==0 ? '0%':poi.rank==1 ? '20%': poi.rank==2 ? '40%':poi.rank==3 ? '60%': poi.rank==4 ? '80%': '100%' }}</h6>
              <button ng-show="logedIn()" data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;"
                data-target="#ReviewModal" ng-click="setReviewPOI(poi.id,poi.name)">review</button>
            </div>
            <div class="col-lg-4 ml-auto text-center"></div>
          </div>
          <a class="portfolio-box" ng-href="#fullpoi/{{poi.id}}" target="_blank">
            <img class="img-thumbnail" src="img/pic/{{poi.picture}}" alt="" style="width: 580px; height: 386px;">
            <div class="portfolio-box-caption" style="max-width: 580px; max-height: 386px;">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  {{poi.name}}
                </div>
                <div class="project-category text-faded">
                  {{poi.shortDesc}}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
</div>





<!-- Modal Retrive password-->
<div class="modal fade" id="passwordRecover" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Retrive your password</h4>
      </div>
      <div class="modal-body">

        <form class="form-signin" name="passForm" ng-submit="mainCtrl.submitpass()" ng-show="!logedIn() && !questionsFound &&!final">
          <p> enter yout user name here: </p>
          <input class="form-control" type="text" name="uname" placeholder="user Name" ng-model="mainCtrl.passUserName" required autofocus>
          <div class="col-lg-8 mx-auto text-center">
            <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="submit" ng-disabled="passForm.$invalid">
          </div>
          <span class="text-danger" style="color:red">{{ passError }}</span>
        </form>


        <form class="form-signin" name="retriveQuestions" ng-submit="mainCtrl.submitretriveQ()" ng-show="!logedIn() && questionsFound &&!final">
          <p> enter your answers to the following questions: </p>
          <p>{{q1}}</p>
          <input class="form-control" type="text" name="uname" ng-model="mainCtrl.q1ans" required autofocus>
          <p>{{q2}}</p>
          <input class="form-control" type="text" name="uname" ng-model="mainCtrl.q2ans" required>
          <div class="col-lg-8 mx-auto text-center">
            <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="submit" ng-disabled="passForm.$invalid">
          </div>
          <span class="text-danger" style="color:red">{{ retriveQErr }}</span>
        </form>

        <div ng-show="!logedIn() && questionsFound &&final">
          <h3>great we found your password!!</h3>
          <p style="text-align: center;"><br />
            Your password: {{mainCtrl.retrivePassword}}
          </p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="resetParams()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal Review-->
<div class="modal fade" id="ReviewModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Give your Review</h4>
      </div>
      <div class="modal-body">

        <form class="form-review" name="rankForm" ng-submit="mainCtrl.submitReview()" ng-show="!reviewDone">
          <p>What rank will you give {{mainCtrl.reviewPOI}}?</p>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="mainCtrl.litHeart(1)" ng-click="mainCtrl.setRank(1)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!mainCtrl.litHeart(1)" ng-click="mainCtrl.setRank(1)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="mainCtrl.litHeart(2)" ng-click="mainCtrl.setRank(2)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!mainCtrl.litHeart(2)" ng-click="mainCtrl.setRank(2)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="mainCtrl.litHeart(3)" ng-click="mainCtrl.setRank(3)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!mainCtrl.litHeart(3)" ng-click="mainCtrl.setRank(3)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="mainCtrl.litHeart(4)" ng-click="mainCtrl.setRank(4)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!mainCtrl.litHeart(4)" ng-click="mainCtrl.setRank(4)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="mainCtrl.litHeart(5)" ng-click="mainCtrl.setRank(5)"></i>
          <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!mainCtrl.litHeart(5)" ng-click="mainCtrl.setRank(5)"></i>
          <br />
          <p>Please write a review:
            <i style="font-size: 10px; color: gray;">optional</i>
          </p>
          <br />
          <textarea class="form-control" maxlength="250" rows="5" cols="8" name="wreview" placeholder="Text up to 250 letters" ng-model="mainCtrl.writtenReview"></textarea>
          <br />
          <div class="col-lg-8 mx-auto text-center">
            <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="submit">
          </div>
        </form>
        <p ng-show="reviewDone">{{mainCtrl.reviewStatus}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reviewDone = false; mainCtrl.setRank(0)">Close</button>
      </div>



    </div>

  </div>
</div>