<section class="bg-primary" id="explore">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Be part of something big!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">don't have an account yet?! ho no!!! register fast!</p>
      </div>
    </div>
  </div>
</section>

<br>
<br>



<div ng-show="!userCtrl.logedIn">

  <div class="col-lg-8 mx-auto text-center">
    <p class="mb-4">Fill in the following information</p>
    <hr class="my-4">
  </div>
  <br>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="regForm">
        <form class="form-horizontal" name="RegisForm" ng-submit="userCtrl.registerUserForm()" role="form">
          <div class="form-group">
            <div class="row">
              <label for="firstName" class="col-sm-4 control-label">First Name</label>
              <div class="col-sm-7">
                <input type="text" id="firstName" class="form-control" ng-model="userCtrl.user.firstName" required autofocus/>
              </div>
              <div class="col-sm-1"></div>
            </div>

          </div>
          <div class="form-group">
            <div class="row">
              <label for="lastName" class="col-sm-4 control-label">Last Name</label>
              <div class="col-sm-7">
                <input type="text" id="lastName" class="form-control" ng-model="userCtrl.user.lastName" required />
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>


          <div class="form-group">
            <div class="row">
              <label for="email" class="col-sm-4 control-label">Email</label>
              <div class="col-sm-7">
                <input type="email" id="email" class="form-control" ng-model="userCtrl.user.email" required/>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="city" class="col-sm-4 control-label">City</label>
              <div class="col-sm-7">
                <input type="text" id="city" class="form-control" ng-model="userCtrl.user.city" required/>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label for="country" class="col-sm-4 control-label">Country</label>
              <div class="col-sm-7">
                <select ng-model="userCtrl.user.country" ng-options="country for country in userCtrl.CountriesData" required>
                </select>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>

          <hr />
          <p style="font-size: 14px;">Please choose 2 different questions to answer in a situation of password loss.</p>
          <hr />

          <div class="form-group">
            <div class="row">
              <label for="firstQ" class="col-sm-4 control-label">First Question</label>
              <div class="col-sm-7">
                <select name="firstQu" ng-model="userCtrl.user.firsqQ" ng-options="que.text for que in userCtrl.QuestionsDataLocal" required>
                </select>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row">
              <label for="firstAns" class="col-sm-4 control-label">First answer</label>
              <div class="col-sm-7">
                <input type="text" id="firstAns" class="form-control" ng-model="userCtrl.user.firstAns" required />
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>

          <br />
          <div class="form-group">
            <div class="row">
              <label for="secondQ" class="col-sm-4 control-label">Second Question</label>
              <div class="col-sm-7">
                <select ng-model="userCtrl.user.secondQ" ng-options="que.text for que in userCtrl.QuestionsDataLocal" required>
                </select>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row">
              <label for="secondAns" class="col-sm-4 control-label">Second answer</label>
              <div class="col-sm-7">
                <input type="text" id="secondAns" class="form-control" ng-model="userCtrl.user.secondAns" required/>
              </div>
              <div class="col-sm-1"></div>
            </div>
          </div>

          <hr />
          <p style="font-size: 14px;">Choose your favorite categories - Choose 2 or more please.</p>
          <hr />

          <div class="form-group">
            <div class="row">
              <div class="col-sm-3">
                <span ng-repeat="category in userCtrl.CategoriesDataLocal">
                  <label class="checkbox" for="{{CategoriesDataLocal.id}}">
                    <input type="checkbox" ng-model="userCtrl.user.collactionCat[category.id]" name="group" id="{{category.id}}" /> {{category.name}}
                  </label>
                </span>
              </div>
            </div>
          </div>
          <br>
          <span class="text-danger" style="color:red">{{ userCtrl.messErr }}</span>
          <input type="submit" value="Save" class="btn btn-primary col-sm-offset-3" />
          <br>

        </form>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>


</div>


<div ng-show="userCtrl.logedIn">

  <div class="col-lg-8 mx-auto text-center">
    <p class="mb-4">yay! your registeration was so successfully!</p>
    <hr class="my-4">
  </div>
  <br>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="regForm">
        <p>your new user name: {{userCtrl.userName}}</p>
        <p>your new password: {{userCtrl.password}}</p>
      </div>

      <p class="mb-4">lets try to log in for the first time! please enter your username and password and click submit. please don't forget
        to write your username and password for future entry. if you forget your password you can retrive it with the
        knowledge of the username and your validation questions.
      </p>
      <hr class="my-4">
      <br>

      <form class="form-signin" name="LoginForm" ng-submit="userCtrl.submit()">
        <label for="registerUserName" class="sr-only">User Name</label>
        <input class="form-control" type="text" name="uname" placeholder="user Name" ng-model="userCtrl.user.userName" required autofocus>
        <label for="registerPassword" class="sr-only">Password</label>
        <input class="form-control" type="password" name="pwd" placeholder="Password" ng-model="userCtrl.user.password" required>
        <div class="col-lg-8 mx-auto text-center">
          <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="submit" ng-disabled="LoginForm.$invalid">
        </div>
        <span class="text-danger" style="color:red">{{ userCtrl.LoginFormerror }}</span>
      </form>

    </div>
    <div class="col-lg-2"></div>
  </div>


</div>





















<!--  <form ng-submit="userCtrl.submit()" name="myForm">
                <div class="row">
                  <div class="col-lg-8 mx-auto text-center">
                  user name : 
                    <input type="text"
                       name="uname"
                       ng-model="userCtrl.user.userName"
                       required
                       ng-minlength="4">
                <span ng-show="myForm.uname.$error.required">
                  This is a required field
                </span>
                <span ng-show="myForm.uname.$error.minlength">
                  Minimum length required is 4
                </span>
                <span ng-show="myForm.uname.$invalid">
                  This field is invalid
                </span>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                user name : 
                <input type="password"
                       name="pwd"
                       ng-model="userCtrl.user.password"
                       required>
                <span ng-show="myForm.pwd.$error.required">
                  This is a required field
                </span>
              </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                <input type="submit"
                       value="submit"
                       ng-disabled="myForm.$invalid">
                      </div>
                    </div>
              </form>


 <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading">Let's Get In Touch!</h2>
              <hr class="my-4">
              <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 ml-auto text-center">
              <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
              <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
              <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
              <p>
                <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
              </p>
            </div>
          </div>
        </div>
      </section>-->