<section class="bg-primary" id="explore" style="padding-bottom: 3rem;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">{{fullpoiCtrl.content.name}}</h2>
                <hr class="light my-4">
                <div class="image-container">
                    <img src="img/pic/{{fullpoiCtrl.content.picture}}" alt="POI" width="400px" height="250px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<br>
<div class="col-lg-8 mx-auto text-center">
    <p class="mb-4">Details:</p>
    <hr class="my-4">
</div>


<section id="poiDetails">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center">
                <table class="table borderless">
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td id="POIname">{{fullpoiCtrl.content.name}}</td>
                        </tr>
                        <tr>
                            <td>Category:</td>
                            <td>{{fullpoiCtrl.category}}</td>
                        </tr>
                        <tr>
                            <td>Number of views:</td>
                            <td>{{fullpoiCtrl.content.viewsNum}}</td>
                        </tr>
                        <tr>
                            <td>Rank:</td>
                            <td>{{fullpoiCtrl.content.rank==0 ? '0%':fullpoiCtrl.content.rank==1 ? '20%': fullpoiCtrl.content.rank==2
                                ? '40%':fullpoiCtrl.content.rank==3 ? '60%': fullpoiCtrl.content.rank==4 ? '80%': '100%'
                                }}</td>
                        </tr>
                        <tr>
                            <td>Reviews:</td>
                            <td>
                                <p ng-show="isReviewedFirst()">{{fullpoiCtrl.content.firstReview}}
                                    <i>({{fullpoiCtrl.content.firstDate.substring(0,10)}})</i>
                                </p>
                                <p ng-show="isReviewedSecond()">
                                    <br />{{fullpoiCtrl.content.secondReview}}
                                    <i>({{fullpoiCtrl.content.secondDate.substring(0,10)}})</i>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{fullpoiCtrl.content.fullDesc}}</td>
                        </tr>
                        <tr>
                            <td>Location:</td>
                            <td>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-6">
                                        <div id="mapid" style="height: 180px; width: 240px;"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="logedIn()">Write a review</td>
                            <td><button ng-show="logedIn()" data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;" data-target="#ReviewModal" ng-click="setReviewPOI(fullpoiCtrl.content.id,fullpoiCtrl.content.name)">review</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>


<!-- Modal Review-->
<div class="modal fade" id="ReviewModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Give your Review</h4>
            </div>
            <div class="modal-body">
      
              <form class="form-review" name="rankForm" ng-submit="fullpoiCtrl.submitReview()" ng-show="!reviewDone">
                <p>What rank will you give {{fullpoiCtrl.reviewPOI}}?</p>
                <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="fullpoiCtrl.litHeart(1)" ng-click="fullpoiCtrl.setRank(1)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!fullpoiCtrl.litHeart(1)" ng-click="fullpoiCtrl.setRank(1)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="fullpoiCtrl.litHeart(2)" ng-click="fullpoiCtrl.setRank(2)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!fullpoiCtrl.litHeart(2)" ng-click="fullpoiCtrl.setRank(2)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="fullpoiCtrl.litHeart(3)" ng-click="fullpoiCtrl.setRank(3)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!fullpoiCtrl.litHeart(3)" ng-click="fullpoiCtrl.setRank(3)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="fullpoiCtrl.litHeart(4)" ng-click="fullpoiCtrl.setRank(4)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!fullpoiCtrl.litHeart(4)" ng-click="fullpoiCtrl.setRank(4)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="fullpoiCtrl.litHeart(5)" ng-click="fullpoiCtrl.setRank(5)"></i>
                <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!fullpoiCtrl.litHeart(5)" ng-click="fullpoiCtrl.setRank(5)"></i>
                <br />
                <p>Please write a review:
                  <i style="font-size: 10px; color: gray;">optional</i>
                </p>
                <br />
                <textarea class="form-control" maxlength="250" rows="5" cols="8" name="wreview" placeholder="Text up to 250 letters" ng-model="fullpoiCtrl.writtenReview"></textarea>
                <br />
                <div class="col-lg-8 mx-auto text-center">
                  <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="submit">
                </div>
              </form>
              <p ng-show="reviewDone">{{fullpoiCtrl.reviewStatus}}</p>
      
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reviewDone = false; fullpoiCtrl.setRank(0)">Close</button>
            </div>
      
      
      
          </div>
      
        </div>
      </div>