<section class="bg-primary" id="explore">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 mx-auto"></div>
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">We've got what you need!</h2>
        <hr class="light my-4">
      </div>
      <div class="col-lg-2 mx-auto">
        <div class="image-container" ng-show="logedIn()">
          <a href="#/favorite">
            <img src="img/pic/favorites.png" alt="favorites" style="width: 100%;">
            <div class="centered">{{ poiCtrl.numOfFav }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-1">
    <input type="checkbox" ng-model="orderByRank" ng-change="sortBy= orderByRank==true ? 'rank':'';">Order by rank
    <br />
    <br />
    <select ng-model="catFilter" ng-options="cat for cat in poiCtrl.CategoriesData">
    </select><a style="font-size: 12px;" href="" ng-click="catFilter=undefined">reset</a>
  </div>
  <div class="col-lg-8 mx-auto text-center">
    <p class="mb-4">you can look at this point of interest - for more information click on the picture</p>
    <hr class="my-4">
  </div>
  <div class="col-lg-2">
    <input type="text" placeholder="Search" ng-model="searchPOI" style="border-radius: 5px; box-shadow: 1px 1px 4px 0px; padding-left: 5px;">
  </div>
</div>
<br>
<br>

<h3 ng-if="(poiCtrl.content| filter:{catName:'Shopping'} | filter:{catName:catFilter} | filter:{name:searchPOI}).length==0
&& (poiCtrl.content| filter:{catName:'Museums'} | filter:{catName:catFilter} | filter:{name:searchPOI}).length==0
&& (poiCtrl.content| filter:{catName:'Restaurants'} | filter:{catName:catFilter} | filter:{name:searchPOI}).length==0
&& (poiCtrl.content| filter:{catName:'Night Life'} | filter:{catName:catFilter} | filter:{name:searchPOI}).length==0">There are no places answer your desire :(</h3>
<!--&& musModel==null && restModel==null && nightModel==null-->
<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <!--Shopping-->
    <div class="row" ng-if="(!catFilter || catFilter=='Shopping') && (poiCtrl.content| filter:{catName:'Shopping'} | filter:{catName:catFilter} | filter:{name:searchPOI}).length!=0">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Shopping</h2>
        <hr class="my-4">
      </div>
    </div>
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6" ng-repeat="poi in poiCtrl.content | filter:{catName:'Shopping'} | filter:{catName:catFilter} | filter:{name:searchPOI} | orderBy:sortBy:true">
        <div class="row">
          <div class="col-lg-8 ml-auto text-center">
            <h3 class="section-heading">{{poi.name}}</h3>
            <button ng-show="logedIn()" data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;" data-target="#ReviewModal" ng-click="setReviewPOI(poi.id,poi.name)">review</button>
            <h6 class="section-heading">{{poi.rank==0 ? '0%':poi.rank==1 ? '20%': poi.rank==2 ? '40%':poi.rank==3 ? '60%': poi.rank==4 ? '80%': '100%' }}</h6>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <a href="" ng-show="favorited(poi.id) && logedIn()" ng-click="removeFav(poi.id)">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
            </a>
            <a href="" ng-show="!favorited(poi.id) && logedIn()" ng-click="addFav(poi.id)">
              <i class="fa fa-4x fa-heart-o text-primary mb-3 sr-icons"></i>
            </a>
          </div>
        </div>

        <a class="portfolio-box" ng-href="#fullpoi/{{poi.id}}" target="_blank">
          <img class="img-thumbnail" src="img/pic/{{poi.picture}}" alt="" style="width: 580px; height: 386px;">
          <div class="portfolio-box-caption" style="max-width: 580px; max-height: 386px;">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                {{poi.name}}
              </div>
              <div class="project-category text-faded">
                {{poi.shortDesc}}
              </div>
            </div>
          </div>
        </a>
        <br>
        <br>
        <br>
      </div>
    </div>
    <!--Museums-->
    <div class="row" ng-if="(!catFilter || catFilter=='Museums') && (poiCtrl.content| filter:{catName:'Museums'} | filter:{catName:catFilter} | filter:{name:searchPOI}).length!=0">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Museums</h2>
        <hr class="my-4">
      </div>
    </div>
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6" ng-repeat="poi in poiCtrl.content | filter:{catName:'Museums'} | filter:{catName:catFilter} | filter:{name:searchPOI} | orderBy:sortBy:true">
        <div class="row">
          <div class="col-lg-8 ml-auto text-center">
            <h3 class="section-heading">{{poi.name}}</h3>
            <button ng-show="logedIn()" data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;" data-target="#ReviewModal" ng-click="setReviewPOI(poi.id,poi.name)">review</button>
            <h6 class="section-heading">{{poi.rank==0 ? '0%':poi.rank==1 ? '20%': poi.rank==2 ? '40%':poi.rank==3 ? '60%': poi.rank==4 ? '80%': '100%' }}</h6>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <a href="" ng-show="favorited(poi.id) && logedIn()" ng-click="removeFav(poi.id)">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
            </a>
            <a href="" ng-show="!favorited(poi.id) && logedIn()" ng-click="addFav(poi.id)">
              <i class="fa fa-4x fa-heart-o text-primary mb-3 sr-icons"></i>
            </a>
          </div>
        </div>

        <a class="portfolio-box" ng-href="#fullpoi/{{poi.id}}" target="_blank">
          <img class="img-thumbnail" src="img/pic/{{poi.picture}}" alt="" style="width: 580px; height: 386px;">
          <div class="portfolio-box-caption" style="max-width: 580px; max-height: 386px;">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                {{poi.name}}
              </div>
              <div class="project-category text-faded">
                {{poi.shortDesc}}
              </div>
            </div>
          </div>
        </a>
        <br>
        <br>
        <br>
      </div>
    </div>


    <!--Restaurants-->
    <div class="row" ng-if="(!catFilter || catFilter=='Restaurants') && (poiCtrl.content| filter:{catName:'Restaurants'} | filter:{catName:catFilter} | filter:{name:searchPOI}).length!=0">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Restaurants</h2>
        <hr class="my-4">
      </div>
    </div>
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6" ng-repeat="poi in poiCtrl.content | filter:{catName:'Restaurants'} | filter:{catName:catFilter} | filter:{name:searchPOI} | orderBy:sortBy:true">
        <div class="row">
          <div class="col-lg-8 ml-auto text-center">
            <h3 class="section-heading">{{poi.name}}</h3>
            <h6 class="section-heading">{{poi.rank==0 ? '0%':poi.rank==1 ? '20%': poi.rank==2 ? '40%':poi.rank==3 ? '60%': poi.rank==4 ? '80%': '100%' }}</h6>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <a href="" ng-show="favorited(poi.id) && logedIn()" ng-click="removeFav(poi.id)">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
            </a>
            <a href="" ng-show="!favorited(poi.id) && logedIn()" ng-click="addFav(poi.id)">
              <i class="fa fa-4x fa-heart-o text-primary mb-3 sr-icons"></i>
            </a>
          </div>
        </div>

        <a class="portfolio-box" ng-href="#fullpoi/{{poi.id}}" target="_blank">
          <img class="img-thumbnail" src="img/pic/{{poi.picture}}" alt="" style="width: 580px; height: 386px;">
          <div class="portfolio-box-caption" style="max-width: 580px; max-height: 386px;">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                {{poi.name}}
              </div>
              <div class="project-category text-faded">
                {{poi.shortDesc}}
              </div>
            </div>
          </div>
        </a>
        <br>
        <br>
        <br>
      </div>
    </div>

    <!--Night Life-->
    <div class="row" ng-if="(!catFilter || catFilter=='Night Life') && (poiCtrl.content| filter:{catName:'Night Life'} | filter:{catName:catFilter} | filter:{name:searchPOI}).length!=0">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Night Life</h2>
        <hr class="my-4">
      </div>
    </div>
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6" ng-repeat="poi in poiCtrl.content | filter:{catName:'Night Life'} | filter:{catName:catFilter} | filter:{name:searchPOI} | orderBy:sortBy:true">
        <div class="row">
          <div class="col-lg-8 ml-auto text-center">
            <h3 class="section-heading">{{poi.name}}</h3>
            <button ng-show="logedIn()" data-toggle="modal" style="background-color: beige; border-radius: 15px; padding: 2px 10px; font-family: cursive;" data-target="#ReviewModal" ng-click="setReviewPOI(poi.id,poi.name)">review</button>
            <h6 class="section-heading">{{poi.rank==0 ? '0%':poi.rank==1 ? '20%': poi.rank==2 ? '40%':poi.rank==3 ? '60%': poi.rank==4 ? '80%': '100%' }}</h6>
          </div>
          <div class="col-lg-4 ml-auto text-center">
            <a href="" ng-show="favorited(poi.id) && logedIn()" ng-click="removeFav(poi.id)">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
            </a>
            <a href="" ng-show="!favorited(poi.id) && logedIn()" ng-click="addFav(poi.id)">
              <i class="fa fa-4x fa-heart-o text-primary mb-3 sr-icons"></i>
            </a>
          </div>
        </div>

        <a class="portfolio-box" ng-href="#fullpoi/{{poi.id}}" target="_blank">
          <img class="img-thumbnail" src="img/pic/{{poi.picture}}" alt="" style="width: 580px; height: 386px;">
          <div class="portfolio-box-caption" style="max-width: 580px; max-height: 386px;">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                {{poi.name}}
              </div>
              <div class="project-category text-faded">
                {{poi.shortDesc}}
              </div>
            </div>
          </div>
        </a>
        <br>
        <br>
        <br>
      </div>
    </div>


    <br>
  </div>
  </div>
</section>


<!-- Modal Review-->
<div class="modal fade" id="ReviewModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Give your Review</h4>
        </div>
        <div class="modal-body">
  
          <form class="form-review" name="rankForm" ng-submit="poiCtrl.submitReview()" ng-show="!reviewDone">
            <p>What rank will you give {{poiCtrl.reviewPOI}}?</p>
            <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="poiCtrl.litHeart(1)" ng-click="poiCtrl.setRank(1)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!poiCtrl.litHeart(1)" ng-click="poiCtrl.setRank(1)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="poiCtrl.litHeart(2)" ng-click="poiCtrl.setRank(2)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!poiCtrl.litHeart(2)" ng-click="poiCtrl.setRank(2)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="poiCtrl.litHeart(3)" ng-click="poiCtrl.setRank(3)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!poiCtrl.litHeart(3)" ng-click="poiCtrl.setRank(3)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="poiCtrl.litHeart(4)" ng-click="poiCtrl.setRank(4)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!poiCtrl.litHeart(4)" ng-click="poiCtrl.setRank(4)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star text-primary mb-3 sr-icons" ng-show="poiCtrl.litHeart(5)" ng-click="poiCtrl.setRank(5)"></i>
            <i style="font-size: 1em;" class="fa fa-4x fa-star-o text-primary mb-3 sr-icons" ng-show="!poiCtrl.litHeart(5)" ng-click="poiCtrl.setRank(5)"></i>
            <br />
            <p>Please write a review:
              <i style="font-size: 10px; color: gray;">optional</i>
            </p>
            <br />
            <textarea class="form-control" maxlength="250" rows="5" cols="8" name="wreview" placeholder="Text up to 250 letters" ng-model="poiCtrl.writtenReview"></textarea>
            <br />
            <div class="col-lg-8 mx-auto text-center">
              <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="submit">
            </div>
          </form>
          <p ng-show="reviewDone">{{poiCtrl.reviewStatus}}</p>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reviewDone = false; poiCtrl.setRank(0)">Close</button>
        </div>
  
  
  
      </div>
  
    </div>
  </div>